@model web_app_gcd.ViewModels.DocumentCreate

@{
    ViewBag.Title = "Document Create";
    Layout = "_DashboardLayout";
}

@section Header {
    <partial name="_NavHeader"/>
}
<div class="container-fluid">
    <h3 class="text-dark mb-1">Document Create</h3>
</div>
<div class="row register-form">
    <div class="col-md-8 offset-md-2">
        <form class="custom-form" asp-action="Create" method="post">
            <h1>Document Form</h1>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" asp-for="Name">Name </label>
                </div>
                <div class="col-sm-6 input-column">
                    <input class="form-control" type="text" asp-for="Name">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" asp-for="Author">Author</label>
                </div>
                <div class="col-sm-6 input-column">
                    <input class="form-control" type="text" asp-for="Author">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" asp-for="Image">Image</label>
                </div>
                <div class="col-sm-4 input-column">
                    <input type="text" asp-for="Image">
                </div>
            </div>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column">
                    <label class="col-form-label" asp-for="Summary">Summary</label>
                </div>
                <div class="col-sm-4 input-column">
                    @(Html.TextAreaFor(m => m.Summary))
                </div>
            </div>
            <button class="btn btn-light submit-button" type="submit">Save</button>
        </form>
    </div>
</div>